/*configuração de estilização do site*/
* {
    box-sizing: border-box; /* definição inicial de estil da página*/
    margin: 0;
    padding: 0;
    color: white;
    font-family:sans-serif;
}
body{    /*definição do corpo do site tamanho e direção do elementos*/
    display: flex;
    flex-direction: column;
     min-height: 100vh;
    width: 100%;
}

.menu{
    background-color: darkblue;
    padding: 10px;
    height: 150px; 
}

.titulo{
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
}
/*definição do menu horizontal */
ul{
    display: flex;
    justify-content:center;
    font-size: 20px;
    list-style-type: none;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 10px;
    
}

li{
    margin: 0;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    display: block;
}
/*configuração de sobra do menu ao passar o mouse nas opções*/
 li a:hover{
    background-color:darkblue;
    border-radius: 10px;
    color: wheat;
}

main {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.sobremim{
    text-align: center;
    display: ;
    align-items: center;
    max-width: 800px;
}
.sobremim h1{
   text-align: center; 
    color: darkblue;  
}
/*configuração do texto da página*/
p{
    color: black;
    font-size: 16px;
    text-align: center;
    text-align: justify;
    padding: 5px;
    line-height: 1.5;
}
/*configuração do roda pé da página*/
footer{
   
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 20px 0;
}

footer p{
color: black;
    font-size: 16px;
    text-align: center;
    padding: 0%;
}
footer p{
    color: white;
}

@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }}
